h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  width: 80vw;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
  height: 80vh;
}

.leftform {
  background-color: #ccc;

}

.fieldset {
  padding: 10px 20px;
  text-align: left;

}

legend {
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
}

.field-group {
  border: 1px solid black;

  display: flex;
  align-items: center;
  margin: 0 auto;
}

.field-group:focus {
  border: 3px solid black;
}

.pound-sign {
  margin-right: 5px;
}

.field-group input {
  border: none;
  outline: none;
  padding: 10px 0;
  flex: 1;
}

.field-percentage input {
  padding: 10px 0;
  width: 15%;
  font-size: 1.1em;
}

.ratebold {
  font-weight: bold;
  font-size: 1.1em;
}

.rightform {
  text-align: left;
  background-color: #eee;
}

@media (max-width:800px) {
  main {
    display: flex;
    flex-direction: column;

  }

  .leftform {
    margin: 5vh 0;
  }

  .leftform,
  .rightform {
    width: 90%;

  }
}